html,
body {
	height: 100%;
}

body, a, p{
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	font-family: 'Fira Sans', sans-serif;
	color: #fff;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
  }

input
{
padding: 0;
margin: 0;
border: 0;
border: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-text{
		max-width: 330px;
	}
}

.logo__inner{
	&-title{
		font-weight: 500;
		color: $blue;
		text-align: center;
	}
	
	margin-right: 60px;
}

.contacts{
	display: flex;
	&__list{
		display: flex;
		justify-content: flex-end;
		margin-right: 46px;
	}
	&__item + &__item{
        margin-left: 46px;
    }
	&__item{
		padding-left: 32px;
		position: relative;
	}
	&__link{
		font-size: 14px;
	}
	&__svg{
		position: absolute;
		left: 0;
		top: 2px;
		width: 20px;
		height: 20px;
	}
	&__tel{
		padding-left: 24px;
	}
	&__tel-link{
		color: $yellow;
		font-weight: 700;
		font-size: 20px;
	}
}


.title{
	margin-bottom: 57px;
	&__main{
		font-weight: 500;
		font-size: 14px;
		padding-left: 66px;
		position: relative;
		text-transform: uppercase;
		color: $blue;
		margin-bottom: 29px;
	}
	&__sub{
		font-size: 38px;
		font-weight: 300;
		line-height: 50px;
		max-width: 740px;
		color: #fff;
	}
	&__main::after{
		content: '';
		position: absolute;
		left: 0;
		top: 6px;
		width: 37px;
		height: 2px;
		background-color: #698FBB;
	}
}

.contacts__icons{
	&-list{
		display: flex;
	}
	&-item + &-item{
		margin-left: 11px;
	}
	&-svg{
		width: 26px;
		height: 26px;
	}
}

.title-second{
	color: #000;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
}