@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";


// start header
.header {
    padding: 25px 0 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
}

.header__top {
    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-item + &-item {
        margin-left: 46px;
    }
    &-link {
        font-weight: 700;
    }
    &-documnet {
        padding-left: 47px;
        position: relative;
        a {
            color: $yellow;
        }
    }
    &-svg {
        position: absolute;
        left: 0;
        top: -3px;
        width: 24px;
        height: 24px;
    }
    &-menu {
        margin-bottom: 14px;
    }
}

.header__menu {
    background: rgba(17, 25, 34, 0.47);
    padding: 21px 0;

    &-list {
        display: flex;
        justify-content: space-between;
    }
    &-link {
        text-transform: uppercase;
    }
    &-item {
        position: relative;
        padding-right: 20px;
    }
    &-svg {
        position: absolute;
        right: 0;
        top: 5px;
        width: 8px;
        height: 5px;
    }
}

// section discuss

.discuss {
    &-img {
        width: 505px;
        height: 303px;
    }
    &__inner {
        padding: 100px 76px 180px;
        display: flex;
        justify-content: space-between;
    }
}

.discuss__form {
    display: flex;
    &-input + &-input {
        margin-left: 33px;
    }
    &-input {
        background-color: transparent;
        border-bottom: 1px solid $blue;
        padding-bottom: 13px;
    }
    &-input::placeholder {
        color: #fff;
        font-size: 16px;
    }
    &-input:focus{
        border: 0px;
    }
    &-button {
        margin-left: 43px;
        background-color: $yellow;
        padding: 18px 33px 18px 29px;
        font-weight: 500;
        font-size: 14px;
        color: #032f57;
    }
}

// start problems

.problems {
    
    .title-second {
        padding-left: 10px;
        margin-bottom: 75px;
    }
    &__yellow-box {
        background-color: $yellow;
        width: 807px;
        height: 421px;
        position: relative;
    }
}

.problems__top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1679px;
    height: 549px;
    position: relative;
    &-inner {
        padding: 40px 44px 33px 46px;
        position: absolute;
        background-color: #fff;
        left: 23px;
        bottom: 18px;
        width: 807px;
        height: 421px;
    }
    &-wrapper{
        display: flex;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        margin-bottom: 35px;
        max-width: 340px;
    }
    &-text {
        max-width: 273px;
        width: 100%;
        color: #000;
    }
    &-img {
        margin-right: 25px;
        width: 35px;
        height: 35px;
    }
    &-box{
        position: absolute;
        left: 558px;
        top: 150px;
    }
}


.problems__services{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1679px;
    height: 1082px;
    padding: 161px  269px 95px 75px;
    &-title{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .title-second{
        margin-right: 56px;
        max-width: 550px;
        margin-bottom: 100px;
    }
    &-content{
        display: flex;
    }
    &-link{
        font-size: 20px;
        color: #000;
    }
    &-items{
        margin-right: 55px;
    }
    &-item{
        padding: 34px 35px 40px 100px;
        position: relative;
        display: flex;
        align-items: center;
        border-top: 1px dashed #999999;
    }
    &-item:last-child{
        border-bottom: 1px dashed #999999;
    }
    &-img{
        position: absolute;
        left: 0;
    }
}

.problems__description{
    width: 806px;
    height: 600px;
    &-item{
        background: rgba(196, 196, 196, 0.5);
        padding: 23px 25px 100px 40px;
    }
    &-box{

    }
    &-top{
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }
    .title-second{
        margin-bottom: 27px;
        margin-right: 0;
        line-height: 39px;
        padding-left: 0;
    }
    &-link{
        background-color: $yellow;
        text-align: center;
        padding: 18px 65px;
        font-weight: 500;
        font-size: 14px;
        color: #032F57;
        margin-top: 27px;
    }
    &-img{
      margin-right: 100px;
    }
    &-inner{
        display: flex;
    }
    &-method{
        margin-right: 40px;
    }
    &-text{
        max-width: 340px;
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
    .title{
        margin-bottom: 30px;
        &__main{
            
            color: #032F57;
        }
    }
}

// start price

.price{
    padding: 230px 0;
    .title-second{
        margin-bottom: 105px;
        max-width: 600px;
        color: #fff;
    }

    &__items{
        display: flex;
        justify-content: center ;
    }
}

.price__item{
    position: relative;
    text-align: center;
    padding: 50px 60px;
    background-color: #032341;
    height: 832px;
    width: 100%;
    max-width: 428px;
    &-title{
        color: $blue;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 47px;
    }
    &-img{
        img{
            margin: 0 auto;
        }
        margin-bottom: 40px;
    }
    &-text{
        margin-bottom: 43px;
        max-width: 300px;
    }
    &-money{
        color: $yellow;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 47px;
    }
    &-link{
        position: absolute;
        bottom: 60px;
        background-color: $yellow;
        color: #032F57;
        font-size: 14px;
        font-weight: 500;
        padding: 18px 67px;
        max-width: 307px;
        width: 100%;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
    }
}

.price__list{
    &-item{
        padding-left: 36px;
        position: relative;
        margin-bottom: 20px;
        text-align: left;
        
        
    }
    &-item::before{
        content: '';
        position: absolute;
        left: 0;
        background-image: url(../images/price/vector.png);
        width: 20px;
        height: 20px;
    }
}

.price-2{
    background-color: #042849;
}
.price-3{
    background-color: #031D34;
}

// realization

.realization__calc{
    padding: 76px 0 56px;
    .title-second{
        margin-bottom: 78px;
    }
}

.form{
    display: flex;
    justify-content: space-between;
}

.form__inputs{
    margin-right: 47px;
    display: flex;
    flex-direction: column;
    &-top{
        margin-bottom: 26px;
    }
}

.form__com{
    border: 1px solid #999999;
    padding: 14px 16px;
    width: 100%;
}

.form__input{
    color: #000;
    border-bottom: 1px solid #999999;
    padding-bottom: 13px;
    
}

.form__input + .form__input{
    margin-left: 60px;
}

.form__button{
    display: flex;
    flex-direction: column;
}

.calc__button{
    background-color: $yellow;
    padding: 18px 100px;
    font-weight: 500;
    font-size: 14px;
    color: #032F57;
    margin-bottom: 34px;
    max-width: 414px;
}

.form-label{
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}

.form__check{

}
.calc__checkbox{
    display: none;
}